@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

header {
    height: 50px;
    background-color: #e30045;
    box-shadow: 0px 2px 10px rgb(151, 151, 151);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vw 10vw 0.5vw 10vw;

    .hamburger {
        display: none;
    }

    .search-mobile {
        display: none;
    }

    .logo {
        img {
            width: 150px;
        }
    }

    nav {
        color: white;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;

            li {
                margin: 0 20px 0 20px;
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: white;
                }

                a:visited {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .search {
        border: 0;
        border-radius: 8px;
        height: 35px;
        width: 25%;
    }

    .user-cart {}
}

.categories-bar {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5vw 10vw 0.5vw 10vw;

    .categories {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;

        .category {
            color: #e2e2e2;
            text-decoration: none;

            ul {
                list-style-type: none;
            }

        }

        .category:visited {
            color: #e2e2e2;
            text-decoration: none;
        }

        .subcategory {
            color: #e2e2e2;
            text-decoration: none;
        }

        .subcategory:visited {
            color: #e2e2e2;
            text-decoration: none;
        }
    }

    .subcategories-bar {
        background-color: white;
        z-index: 999;
        width: 100%;
        position: absolute;
        margin: 0 0 0 -10vw;
    }
      
}

#root {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.pageRenderer {
    flex-grow: 1;
}

.footer {
    display: flex;
    padding: 30px 0;
    background: #f4f6f7;
    gap: clamp(5px, 2%, 25px);

    .section {
        align-items: center;
        display: flex;
        flex-direction: column;

        .title {
            margin-bottom: 5px;
        }

        .linksList {
            margin: 0;

            .linkRow {
                list-style: none;

                .link {
                    color: #414042;
                    text-decoration: none;
                    transition: 0.2s;

                    &:hover {
                        color: black;
                        text-decoration: underline;
                    }
                }
            }
        }

        .socialContainer {
            display: flex;
            gap: 5px;

            .languageFlag {
                border: 1px solid black;
                cursor: pointer;
            }

            a {
                color: black;
                transition: 0.2s;

                &:hover {
                    color: #E30045;
                }
            }
        }
    }
}

.spacer {
    flex-grow: 1;
}