@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 50px;
    background-color: #e30045;
    box-shadow: 0px 2px 10px rgb(151, 151, 151);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vw 10vw 0.5vw 10vw;

    .hamburger {
        display: none;
    }

    .search {}

    .logo {
        display: flex;
        justify-content: center;
        width: 80%;

        img {
            margin: auto;
            width: 25%;
            height: 25%;
        }
    }

    .user-account {}

    .cart {}
}

nav {
    background-color: rgba($color: #000000, $alpha: 0.7);
    color: white;
    padding: 0.5vw 10vw 0.5vw 10vw;


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;

        li {
            margin-right: 10px;

            a {
                text-decoration: none;
                color: white;
            }

            a:visited {
                text-decoration: none;
                color: white;
            }
        }
    }
}

#root {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.pageRenderer {
    flex-grow: 1;
}

.footer {
    display: flex;
    padding: 30px 0;
    background: #f4f6f7;
    gap: clamp(5px, 2%, 25px);

    .section {
        align-items: center;
        display: flex;
        flex-direction: column;

        .title {
            margin-bottom: 5px;
        }

        .linksList {
            margin: 0;

            .linkRow {
                list-style: none;

                .link {
                    color: #414042;
                    text-decoration: none;
                    transition: 0.2s;

                    &:hover {
                        color: black;
                        text-decoration: underline;
                    }
                }
            }
        }

        .socialContainer {
            display: flex;
            gap: 5px;

            .languageFlag {
                border: 1px solid black;
                cursor: pointer;
            }

            a {
                color: black;
                transition: 0.2s;

                &:hover {
                    color: #E30045;
                }
            }
        }
    }
}